html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  background-color: #cae1ff;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
